body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	min-height: 100vh;

}

.titulo{
	transition: all 0.3s;
	background: #ce5252;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	h1{
		color: white;
		text-align: center;
		padding: 5px;

	}
}


.main{
	transition: all 0.3s;
	background: #2b2938;
	width: 70%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;

	button{
		border: none;
		background: black;
		color: white;
		margin-top: 1em;
		padding: 10px;
		border-radius: 4px;
		transition: all 0.3s;


		&:hover{
			background: white;
			color: black;


		}
	}
}

.excusa{
	transition: all 0.3s;
	margin: 2px;
	background: #fff;
	border: 1.5px solid black;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	
	p, h2{
		font-style: italic;
	}

}

#excusa_random{
	text-align: center;
	
}

@media screen and (max-width: 700px){

	body{
		flex-direction: column;
	}

	.titulo{
		width: 100%;
		height: 20vh;
		justify-content: center;
		align-items: center;

		h1{
			font-size: 25px;
		}



	}

	.main{
		width: 100%;
		height: 80vh;
		justify-content: center;
		align-items: center;
	}

		.excusa{

		h2{
			font-size: 25px;
		}

		p{
			font-size: 20px;
		}
	}

	button{
		font-size: 20px;
	}

}
